<template>
  <div>

  </div>
</template>

<script>
import Vue from 'vue'
import Component from 'vue-class-component'

@Component({

})
export default class <%= component %> extends Vue {

}
</script>

<style>

</style>
